.wrapper {
  height: 100%;
  display: grid;
  background-image: url("../../../lib/Start_Page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: calc(100% - 4rem);
  display: grid;
  justify-items: start;
  align-content: center;
  gap: 1rem;
  padding: 1.25rem;
}

.preline {
  composes: text-preline from global;
}

.headline {
  width: 19rem;
  padding-bottom: 1rem;
}
