.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  background-image: url("../../../lib/Start_Page.jpg");
  background-repeat: no-repeat;
  background-position: 0 70%;
  background-size: cover;
}

.logo {
  position: absolute;
  display: grid;
  justify-self: center;
  width: 13rem;
  padding-top: 2rem;
}

.content {
  display: grid;
  justify-items: start;
  align-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.preline {
  composes: text-preline from global;
}

.headline {
  max-width: 19rem;
}

@media screen and (min-width: 800px) {
  .content {
    padding: 8%;
  }

  .preline {
    font-size: 1.2rem;
    composes: text-preline from global;
  }

  .headline {
    max-width: 100%;
    font-size: 4rem;
  }
}
