.wrapper {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.tag {
  composes: text-button-small from global;
  padding: 0.7rem 1.4rem;
  color: var(--color-primary-bg);
  background-color: var(--color-neutral-grade);
  border: none;
  border-radius: 1.875rem;
  box-shadow: 0 0 0.35em rgb(0 0 0 / 25%);
}
