.wrapper {
  display: grid;
  height: 100vh;
  background-color: var(--color-primary-bg);
}

.content {
  padding: 1.25rem;
}

.preline {
  composes: text-preline from global;
}

.footer {
  position: absolute;
  bottom: 2rem;
  display: grid;
  justify-self: center;
}
