.wrapper {
  position: relative;
  top: 4rem;
  padding: 1.25rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 5rem;
}

.content {
  display: grid;
  gap: 1rem;
}

.tags {
  max-width: 30rem;

  /* margin of the tags is 0.35 */
  transform: translateX(-0.35rem);
}

.filterbutton {
  composes: normal from "../../components/Buttons/Button.module.css";
  font-family: "Krona One", sans-serif;
  padding: 0.75rem 5rem;
}

.inactive {
  opacity: 0.2;
}

.footer {
  position: absolute;
  bottom: 2rem;
  display: grid;
  justify-self: center;
}
