.wrapper {
  position: relative;
  top: 7rem;
  padding: 1.25rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 3.5rem;
}

.content {
  display: grid;
  gap: 1rem;
}

.tags {
  max-width: 30rem;

  /* margin of the tags is 0.35 */
  transform: translateX(-0.35rem);
}

.filterbutton {
  composes: normal from "../../components/Buttons/Button.module.css";
  font-family: "Krona One", sans-serif;
  padding: 0.75rem 5rem;
  box-shadow: 0 0.4rem 1.4rem 0.4rem rgb(0 0 0 / 20%);
}

.filterbutton:active {
  background-color: #f4b2fe;
  transform: translateY(0.07rem);
  transition: 0.1s ease-in-out;
}

.inactive {
  opacity: 0.2;
}

.footer {
  position: absolute;
  bottom: 2rem;
  display: grid;
  justify-self: center;
}

@media screen and (min-width: 423px) {
  .wrapper {
    position: unset;
    height: inherit;
    align-content: center;
    gap: 8.5rem;
  }

  .tags {
    max-width: 32rem;
  }
}
