.wrapper {
  composes: wrapper from "../SearchBar/SearchBar.module.css";
}

.input {
  composes: input from "../SearchBar/SearchBar.module.css";
}

.input::placeholder {
  color: var(--color-primary-text);
  font-weight: 500;
}

.input:hover {
  border-radius: 0.2rem;
}

.button {
  composes: button from "../SearchBar/SearchBar.module.css";
}
