.wrapper {
  composes: wrapper from "../SearchBar/SearchBar.module.css";
}

.input {
  composes: input from "../SearchBar/SearchBar.module.css";
}

.input::placeholder {
  color: var(--color-primary-text);
  font-weight: 500;
}

.input:hover {
  border-radius: 0.2rem;
}

.input:target {
  border-radius: 0.2rem;
}

input[type="text"] {
  color: var(--color-neutral-grade);
  font-size: 1rem;
}

.button {
  composes: button from "../SearchBar/SearchBar.module.css";
}

.reset {
  padding-top: 1rem;
  border: none;
  background: none;
  color: var(--color-neutral);
  font-size: 0.875rem;
  text-decoration: underline;
}

.invisible {
  visibility: hidden;
}
