.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* position: fixed; */
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  color: var(--color-primary-text);
  background-color: var(--color-primary-bg);
  border-bottom: solid var(--color-primary-bg) 0.0125em;
}

.logo {
  height: 20%;
}
