.wrapper {
  /* display: grid; */
  gap: 2rem;
  background-color: var(--color-primary-bg);
  padding: 1.25rem;
  justify-items: center;
}

.intro {
  composes: text-intro from global;
}

.no-match {
  composes: text-intro from global;
  width: 60%;
  opacity: 0.2;
  display: grid;
  align-self: center;
  justify-self: center;
  transform: translateY(-2rem);
  text-align: center;
}

.loading {
  composes: no-match;
}

.list {
  display: grid;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 10rem));
}

.footer {
  position: sticky;
  bottom: 2rem;
  display: grid;
  justify-self: center;
}
