.wrapper {
  position: relative;
  padding: 1.25rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
  background-color: var(--color-primary-bg);
}

.intro {
  composes: text-intro from global;
}

.no-match,
.loading {
  composes: text-intro from global;
  opacity: 0.4;
  text-align: center;
  padding-top: 6rem;
}

.list {
  align-items: center;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 10rem));
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  width: 100%;
  padding-top: 2rem;
}

.skip {
  position: absolute;
  bottom: 0.75rem;
}

.festivalcardlarge {
  display: grid;
  justify-self: center;
}
