.wrapper {
  position: relative;
  height: max-content;
  top: 4rem;
  padding: 1.25rem;
  display: grid;
  justify-items: center;
  gap: 2rem;
  background-color: var(--color-primary-bg);
}

.intro {
  composes: text-intro from global;
}

.no-match,
.loading {
  composes: text-intro from global;
  opacity: 0.4;
  text-align: center;
  padding-top: 6rem;
}

.list {
  margin-top: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  display: grid;
  justify-items: center;
}

.skip {
  position: absolute;
  bottom: 0.75rem;
}

.festivalcardlarge {
  display: grid;
  justify-self: center;
}

@media screen and (min-width: 800px) {
  .wrapper {
    display: grid;
    justify-items: center;
  }

  .main {
    width: 43rem;
    justify-self: center;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
