.wrapper {
  position: relative;
  display: grid;
  background-color: var(--color-neutral-grade);
  padding: 1.75rem 1.5rem;
  border-radius: 1.25rem;
  gap: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 1.8rem;
}

.close:hover {
  cursor: pointer;
}

.close:active {
  opacity: 0.7;
  transform: translateY(0.07rem);
  transition: 0.01s ease-in-out;
}

.title {
  align-self: center;
}

.list {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr;
}

.column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item,
.itemkey {
  composes: text-info from global;
  color: var(--color-primary-bg);
  padding: 0.25rem 0;
  border-bottom: 0.1rem solid rgb(0 0 0 / 10%);
}

.itemkey {
  font-weight: bold;
}

.url {
  composes: text-info from global;
  padding: 0.25rem 0;
}

.allacts {
  color: var(--color-primary-bg);
}
