.wrapper {
  display: grid;
  background-color: var(--color-primary-bg);
  height: 100vh;
}

.content {
  display: grid;
  gap: 1rem;
  align-content: center;
  padding: 1.25rem;
}

.preline {
  composes: text-preline from global;
}

.footer {
  position: absolute;
  display: grid;
  justify-self: center;
  bottom: 2rem;
}
