.wrapper {
  height: 100vh;
  background-color: var(--color-primary-bg);
}

.content {
  display: grid;
  gap: 2rem;
  align-content: center;
}

.preline {
  composes: text-preline from global;
}

/* ADD following css to global when previous branch is merged! */

h2 {
  color: var(--color-neutral-grade);
}
