.wrapper {
  display: grid;
  gap: 2rem;
  background-color: var(--color-primary-bg);
}

.preline {
  composes: text-preline from global;
}

/* ADD following css to global when previous branch is merged! */

h2 {
  color: var(--color-neutral-grade);
}
