.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  color: var(--color-neutral-grade);
  border-bottom: solid var(--color-neutral-grade) 0.0125em;
}
