.app {
  width: 100vw;
  height: 100vh;
}

.app-header {
  color: var(--color-primary);
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
}

.text {
  display: grid;
  height: 100%;
}
