.wrapper {
  width: 10.2rem;
  display: grid;
  background-color: var(--color-neutral-grade);
  gap: 0.35rem;
  padding: 1.3rem 1.1rem;
  border-radius: 1.25rem;
}

.location,
.date {
  composes: text-info-small from global;
}

.location-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.date-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.more {
  cursor: pointer;
}
