.container {
  width: 10.3rem;
}

.wrapper {
  display: grid;
  background-color: var(--color-neutral-grade);
  gap: 0.3rem;
  padding: 1.4rem 1.2rem;
  border-radius: 1.25rem;
}

.genres {
  opacity: 0.5;
}

.location,
.date,
.genres {
  composes: text-info-small from global;
}

.location-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.date-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.more {
  cursor: pointer;
}
